{% extends "base.html.twig" %}
{% block title %}Change Password{% endblock %}
{% block body %}

<h2></h2>              
<div class="w-100">
  <div class="js_change_password_inputs box_dropdown mt-0 mb-3">
    <h2 id="js_fi_header">Change Password</h2>
    <form id="change_password_form" method="POST" action="index.php">
    <input type="hidden" name="act" id="js_fi_act" value="change_password">
    <input type="hidden" name="user_id" id="js_fi_uid" value="{{ user_id }}">
    <table class="form_table mt-3">
      <thead>
        <!--tr>
          <td class="pass_input" ><label>Current Password</label><input id="js_fi_oldpass" type="password" name="old_password" required><span class="show_password"><i class="fas fa-eye"></i></span></td>
        </tr-->
        <tr>
          <td class="pass_input"><label>New Password</label><input id="js_fi_newpass" type="password" name="new_password" required="" style="cursor: auto;"><span class="show_password"><i class="fas fa-eye"></i></span></td>
        </tr>
        <tr>
          <td class="pass_input"><label>New Password Confirm</label><input id="js_fi_newpassconf" type="password" name="new_password_confirm" required="" style="background-image: url(&quot;data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAACIUlEQVQ4EX2TOYhTURSG87IMihDsjGghBhFBmHFDHLWwSqcikk4RRKJgk0KL7C8bMpWpZtIqNkEUl1ZCgs0wOo0SxiLMDApWlgOPrH7/5b2QkYwX7jvn/uc//zl3edZ4PPbNGvF4fC4ajR5VrNvt/mo0Gr1ZPOtfgWw2e9Lv9+chX7cs64CS4Oxg3o9GI7tUKv0Q5o1dAiTfCgQCLwnOkfQOu+oSLyJ2A783HA7vIPLGxX0TgVwud4HKn0nc7Pf7N6vV6oZHkkX8FPG3uMfgXC0Wi2vCg/poUKGGcagQI3k7k8mcp5slcGswGDwpl8tfwGJg3xB6Dvey8vz6oH4C3iXcFYjbwiDeo1KafafkC3NjK7iL5ESFGQEUF7Sg+ifZdDp9GnMF/KGmfBdT2HCwZ7TwtrBPC7rQaav6Iv48rqZwg+F+p8hOMBj0IbxfMdMBrW5pAVGV/ztINByENkU0t5BIJEKRSOQ3Aj+Z57iFs1R5NK3EQS6HQqF1zmQdzpFWq3W42WwOTAf1er1PF2USFlC+qxMvFAr3HcexWX+QX6lUvsKpkTyPSEXJkw6MQ4S38Ljdbi8rmM/nY+CvgNcQqdH6U/xrYK9t244jZv6ByUOSiDdIfgBZ12U6dHEHu9TpdIr8F0OP692CtzaW/a6y3y0Wx5kbFHvGuXzkgf0xhKnPzA4UTyaTB8Ph8AvcHi3fnsrZ7Wore02YViqVOrRXXPhfqP8j6MYlawoAAAAASUVORK5CYII=&quot;); background-repeat: no-repeat; background-attachment: scroll; background-size: 16px 18px; background-position: 98% 50%; cursor: auto;"><span class="show_password"><i class="fas fa-eye"></i></span></td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <button class="js_change_password btn btn-primary mt-3" type="button">CONFIRM</button>
          </td>
          <td></td>
        </tr>
      </tbody>
    </table>
    </form>
  </div>
</div>
            
            
<!--Created for the GSA in 2020-2021. Project management: SpaceTec Partners, software development: www.foxcom.eu-->
{% endblock %}
